[user]
	name = BigWestGang
	email = big.west.e.x.troopers@gmail.com
[core]
  editor = vim
[alias]
  co = checkout
  fi = flow init
  ff = flow feature
  fr = flow release
  pr = pull-request
  ffs = flow feature start
  fff = flow feature finish
  ffp = flow feature publish
  frs = flow release start
  frf = flow release finish
  frp = flow release publish


